<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462090649403-mgq09nnudebnmv45jjv8kafjint1ehbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462090649403-mgq09nnudebnmv45jjv8kafjint1ehbp</string>
	<key>API_KEY</key>
	<string>AIzaSyCQICijiqtiK3u3MqTPlwOzPGANoOfjed0</string>
	<key>GCM_SENDER_ID</key>
	<string>462090649403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hse.todo</string>
	<key>PROJECT_ID</key>
	<string>awesome-mini-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>awesome-mini-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462090649403:ios:e66d8494ec53a53a50011e</string>
</dict>
</plist>